@model IEnumerable<Journal3.ViewModels.JournalViewModel>
@{
    int i = 1;
}

<link href="/Content/datepicker.css" rel="stylesheet">
<script src="/Scripts/bootstrap-datepicker.js"></script>
<script src="/Scripts/bootstrap-datepicker.ru.js"></script>

<br>
<br>
<div class="row">
    <form action="/Home/DayStats" method="post" role="form" class="form-inline" id="getByDate">
        <div class="input-append date" id="datepicker" data-date-format="dd-mm-yyyy">
            <label class="control-label" for="Date" style="display: inline-block; padding-left: 15px;">Дата:</label>
            <input class="form-control" size="16" type="text" name="selectedDate" id="selectedDate" value="@ViewBag.SelectedDate.ToString("dd-MM-yyyy")" readonly="" style="width: 200px;"/>
            <span class="add-on glyphicon glyphicon-calendar"></span>
        </div>
    </form>
</div>
<br>

<table class="table table-hover customTheme table-striped" style="width:auto;">
    <thead>
        <tr class="tabcolor">
            <th scope="row">№</th>
            <th scope="row">ФИО</th>
            <th scope="row">Пришел</th>
            <th scope="row">Ушел</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @i)
                </td>
                <td>
                    @item.EmployeeName
                </td>
                <td>
                    <span>@String.Format("{0:hh\\:mm\\:ss}", item.ComeTime)</span>
                </td>
                <td>
                    <span>@String.Format("{0:hh\\:mm\\:ss}", item.GoneTime)</span>
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>

<script type='text/javascript'>
        $(function () {
            $('#datepicker').datepicker({
                language: 'ru'
            });
        });

        $('#selectedDate').change(function () {
            $('#getByDate').submit();
        });

</script>