@model Journal3.Models.Holiday

<link href="/Content/datepicker.css" rel="stylesheet">
<script src="/Scripts/bootstrap-datepicker.js"></script>
<script src="/Scripts/bootstrap-datepicker.ru.js"></script>

<div class="form-group">
    <div class="input-append date" id="datepicker" data-date-format="dd.mm.yyyy" style="display: inline-block;">
        <input class="form-control" size="16" type="text" name="Date" id="selectedDate" value="@DateTime.Now.ToString("dd.MM.yyyy")" readonly="" style="width: 150px;" />
        <span class="add-on glyphicon glyphicon-calendar"></span>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label" for="Comment">Комментарий</label>
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Comment, new { @class = "form-control" })
        </div>
    </div>

</div>

<script type='text/javascript'>
    $(function () {
        $('#datepicker').datepicker({
            language: 'ru',
            weekStart: 1
        });
    });
</script>