@model Journal3.Models.Holiday

    <div class="form-group">
        <label class="col-md-2 control-label" for="">Дата:</label>
        <div class="input-append date" style="display: inline-block; margin-left: 15px;">
            <input class="form-control" size="16" type="text" name="Date" id="selectedDate" value="@Model.Date.ToString("dd.MM.yyyy")" readonly="" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="Comment">Комментарий:</label>
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Comment, new { @class = "form-control" })
        </div>
    </div>


<script type='text/javascript'>
    $(function () {
        $('#selectedDate').datepicker({
            format: "dd.mm.yyyy",
            weekStart: 1,
            language: "ru",
            autoclose: true,
            orientation: "top auto"
        });
    });
</script>