@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Удалить роль";
}

@Html.Partial("_HeaderPartial")
    <h4>Вы уверены, что хотите удалить выбранную роль?</h4>

<table class="table customTheme" style="width:auto;">
    <thead>
        <tr class="tabcolor alignCenter">
            <th scope="row">Поле</th>
            <th scope="row">Значение</th>
        </tr>
    </thead>
    <tr>
        <td style="font-weight:bold;">Наименование</td>
        <td>@Html.DisplayFor(model => model.Name)</td>
    </tr>
 
</table>
 
@using (Html.BeginForm())
{
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Удалить" />
        </div>
    </div>
}

@Html.Partial("_FooterPartial")