@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Удалить роль";
}

@Html.Partial("_HeaderPartial")
    <h3>Вы уверены, что хотите удалить выбранную роль?</h3>

    <div class="display-label"><b>Наименование</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <br />
    @using (Html.BeginForm())
    {
        <p>
            <input type="submit" value="Удалить" />
        </p>
    }
