@model Journal3.Models.WorkSchedule

<div class="form-group">
    <label class="col-md-2 control-label" for="Name">Наименование:</label>
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    <label class="col-md-2 control-label" for="Name">Начало:</label>
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.StartWork, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    <label class="col-md-2 control-label" for="Name">Конец:</label>
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.EndWork, new { @class = "form-control" })
    </div>
</div>

