@model Journal3.ViewModels.WorkScheduleViewModel
@{
    ViewBag.Title = "Редактировать график работы";
}

@Html.Partial("_HeaderPartial")

@using (Html.BeginForm("Edit", "WorkSchedules", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.Partial("_EditPartial")
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Редактировать" />
        </div>
    </div>
}

@Html.Partial("_FooterPartial")
